
.select2-container{
    width: 460px !important;
margin: 0 0 0 50px;
}
.select2-selection{
    min-height: 34px;
    overflow:auto;
}
.navbar-custom-menu .nav {
    margin-right: 10px;
}
.select2-selection--multiple{
    min-height: 34px;
    height:auto !important;
}


/*.navbar-nav > .user-menu > .dropdown-menu:after { 
bottom: 100%;
right: 10px;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
border-color: rgba(255, 255, 255, 0);
border-bottom-color: #ffffff;
border-width: 10px;
margin-left: -10px;
}*/

.open>.dropdown-menu {
    animation-name: fadeAnimation;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: .7s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: fadeAnimation;
    -moz-animation-duration: .7s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
    -moz-animation-fill-mode: forwards;
}

@keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}

@-webkit-keyframes fadeAnimation {
    from {
        opacity: 0;
        top: 120%;
    }
    to {
        opacity: 1;
        top: 100%;
    }
}


/*.table-bordered {
  border: 1px solid #ddd !important;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
  border: 1px solid #ddd !important;
}*/

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


/*.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
padding-right: 0;
padding-left: 0;
}*/

.login-box .login-box-header {
    background: #3d9970 none repeat scroll 0 0;
    border-radius: 4px 4px 0 0;
    /* box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.2) inset; */
    color: #fff;
    font-size: 26px;
    font-weight: 300;
    padding: 0 10px;
    text-align: center;
}

.table {
    width: 100% !important;
}

.direct-chat-messages {
    height: 425px;
    overflow-y: auto
}

.online-status img {
    margin-left: 5px
}

.blink_me {
    animation: blinker 3s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}

.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    /* padding: 5px 0; */
    background-color: #000 !important;
}

.main-header .logo {
    background-color: #fff !important;
    padding: 5px;
    color: #000 !important;
}

.main-header .logo img {
    position: relative;
    top: -6px;
    max-width: 76%;
}


/* .main-header .navbar {
    background-color: #ff0043 !important;
} */

aside.main-sidebar {
    background-color: #105ca8 !important;
    padding-top: 70px !important;
    background: #ff0043 !important;
    background: -moz-linear-gradient(-45deg, #ff0043 0%, #001a1c 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff0043 0%, #001a1c 100%) !important;
    background: linear-gradient(135deg, #ff0043 0%, #001a1c 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#01bbcb', endColorstr='#001a1c', GradientType=1) !important;
    /*background: #01bbcb !important;
background: -moz-linear-gradient(-45deg, #01bbcb 0%, #008fe1 100%) !important;
background: -webkit-linear-gradient(-45deg, #01bbcb 0%,#008fe1 100%) !important;
background: linear-gradient(135deg, #01bbcb 0%,#008fe1 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01bbcb', endColorstr='#008fe1',GradientType=1 ) ;*/
    /*background: #01bbcb !important;
background: -moz-linear-gradient(-45deg, #01bbcb 0%, #006eae 100%) !important;
background: -webkit-linear-gradient(-45deg, #01bbcb 0%,#006eae 100%) !important;
background: linear-gradient(135deg, #01bbcb 0%,#006eae 100%) !important;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01bbcb', endColorstr='#006eae',GradientType=1 );*/
    /*background-image: -webkit-gradient(linear, left bottom, right top, from(#6d327c), color-stop(#485DA6), color-stop(#00a1ba), color-stop(#00BF98), to(#36C486));
background-image: -webkit-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
background-image: -o-linear-gradient(left bottom, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);
background-image: linear-gradient(to right top, #6d327c, #485DA6, #00a1ba, #00BF98, #36C486);*/
}

.bg-fuchsia {
    background: #ff0043 !important;
    background: -moz-linear-gradient(-45deg, #ff0043 0%, #ff0043 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff0043 0%, #ff0043 100%) !important;
    background: linear-gradient(135deg, #ff0043 0%, #ff0043 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#01bbcb', endColorstr='#006eae', GradientType=1);
}

.bg-purple {
    background: #ff0043 !important;
    background: -moz-linear-gradient(-45deg, #ff0043 0%, #ff0043 100%) !important;
    background: -webkit-linear-gradient(-45deg, #ff0043 0%, #ff0043 100%) !important;
    background: linear-gradient(135deg, #ff0043 0%, #ff0043 100%) !important;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#01bbcb', endColorstr='#008fe1', GradientType=1);
}

.sidebar .sidebar-menu .active a {
    background-color: #3b0514 !important;
}

aside.main-sidebar .sidebar-menu>li.active>a,
aside.main-sidebar .sidebar-menu>li:hover>a {
    border-left-color: #ff0044b4 !important;
}

aside.main-sidebar .sidebar-menu>li>a {
    color: #1385BC !important;
}

.main-header .navbar .sidebar-toggle:hover {
    background-color: #1475a4 !important;
}

.sidebar-mini.sidebar-collapse .main-header .logo>.logo-mini {
    padding: 5px;
    position: relative;
    top: -5px;
}


/* tab-slot */

.tab-slot {}

.tab-slot .nav-tabs>li {
    float: none;
    margin-bottom: 5px;
    border: 1px solid transparent;
    padding-top: 10px;
    padding-bottom: 0px;
    display: block;
    clear: left;
    padding-left: 120px;
    position: relative
}

.nav-tabs>li:hover {
    border-color: #eee #eee #ddd;
    background: #f7f7f7;
}

.tab-slot .nav-tabs>li>a {
    display: inline-block;
    min-width: 110px;
    left: 0;
    padding: 6px 10px;
    position: absolute
}

.tab-slot .nav-tabs>li>a:hover {
    border: 1px solid transparent
}

.tab-slot .span-tab {
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

.tab-slot .span-tab .delete_this_slote {
    display: inline-block;
    width: auto !important;
    text-align: right;
    color: rgba(255, 255, 255, .8);
    position: relative;
    top: -15px;
    right: -14px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 50%;
    width: 20px !important;
    text-align: center;
    height: 20px;
    line-height: 18px;
    background-color: rgba(0, 0, 0, .5)
}

.tab-slot .span-tab .delete_this_slote:hover {
    color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 1)
}

.tab-slot button.modal-window {
    padding: 0 !important;
    position: relative !important;
    top: -2px !important;
    margin-left: 10px !important;
    border-radius: 50% !important;
    height: 34px !important;
    width: 34px !important;
}

@media (max-width:767px) {
    .main-header .navbar .sidebar-toggle:hover {
        background-color: #ff0043 !important;
    }
    .main-header .logo img {
        max-width: 62%;
    }
}

.btn1 {
    padding: 3px;
    margin-right: 3px;
}

.rejection-reason {
    width: 100% !important;
}

.small-box {
    background: #fff !important;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.small-box>.small-box-footer,
.small-box h3,
.small-box p {
    color: #4D6E9B !important
}

.small-box>.small-box-footer {
    background: #fff;
    border-radius: 15px;
}

.login-box-body,
.register-box-body {
    padding: 23px 20px !important;
}

.main-header .navbar {
    background: #1385BC !important;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}


/*.login-page.bg-black{background-color: #f2f2f2 !important;}*/

.login-page.bg-black {
    background: url('../../../assets/images/doc.jpg');
}

.login-page-doctor.bg-black {
    background: url('../../../assets/images/doc-login.jpg');
    background-repeat: no-repeat;
}

aside.main-sidebar {
    /* background: rgb(77, 110, 155); */
    background: #fff !important;
    padding: 4px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

aside.main-sidebar .sidebar-menu>li.active>a,
aside.main-sidebar .sidebar-menu>li:hover>a {
    /* border-left-color: #fff !important; */
    border: none;
    background: #1385BC;
    color: #fff !important;
}

#login-form input.btn.bg-purple.btn-block {
    border-radius: 41px;
    padding: 15px;
    color: #fff !important;
    background: #1385BC !important;
    font-size: 17px;
}

.login-box .login-box-header {
    background: transparent !important;
    color: #000 !important;
    font-weight: 600;
}


/*#login-form .form-control{background:#cfd4d4 !important }*/

.skin-purple .sidebar-menu>li>.treeview-menu,
.sidebar .sidebar-menu .active a {
    background: #1385BC !important;
    color: #fff !important;
}


/* .main-header .navbar .sidebar-toggle:hover {
    #011025 !important;
} */

.forgot-password {
    text-align: center;
}

.forgot-password a {
    color: #000;
}

.form-feedback input {
    border-radius: 33px !important;
    padding: 13px 32px 13px 18px;
    height: 55px;
}

.form-feedback span {
    top: 11px;
    right: 7px;
}

.sign-in-row {
    padding-top: 10px;
    padding-bottom: 15px;
}

.content-wrapper,
.right-side {
    background: linear-gradient(180deg, #1385BC 118px, #f9f9f9 11%) top!important;
}

.content-wrapper .content-header {
    color: #fff;
}

.skin-purple .sidebar-menu>li>.treeview-menu {
    margin: 0;
}

.sidebar-menu>li {
    margin-top: 3px;
}

.content-header small {
    color: #fff;
}

@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>a>span {
        margin-left: 0;
    }
}


/*custom-css*/

.custom-flex-class {
    display: flex;
}

.custom-flex-class label {
    padding-right: 10px;
}


/*custom-css*/


/* .login-box-body {
    border: 1px solid #1173ae
} */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.noti-custom {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 0, 0, 0.91);
    z-index: 10;
    border-radius: 10px;
    top: -6px;
    left: -8px;
    text-align: center;
    box-shadow: 2px 2px 6px rgb(0, 0, 0, .8);
}

.span-tab {
    position: relative;
    box-shadow: 4px 5px 13px rgb(0, 0, 0, .4);
    border: none !important;
}

.selected-slot {
    background: url("../img/sign-check-icon.png");
    position: absolute;
    width: 20px;
    height: 20px;
    top: -7px;
    right: -5px;
    background-size: 20px;
}

.delete_this_slote {
    left: 7px;
    position: relative;
    cursor: pointer;
}

.delete_this_slote:hover {
    color: red;
    transition-duration: 200ms;
}

.content-box-custom {
    height: 100%;
    border: 1px solid rgb(216, 212, 212);
    box-shadow: 7px 6px 13px 1px rgba(31, 29, 29, 0.3);
    border-radius: 4px;
}

.row.box {
    padding: 20px;
}

.custom-content-row-one,
.custom-content-row-two {
    padding: 25px;
    min-height: 500px;
    height: 100%;
}

.custom-cont-one {
    min-height: 300px;
}

.custom-cont-two {
    min-height: 200px;
}

.custom-cont-three,
.custom-cont-four {
    min-height: 250px;
}

.create-report-button {
    margin: 0 -7px;
    width: 100%;
    text-align: right;
    clear: both;
}

.create-report-button button {
    background: #1385BC;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
}

.inner-custom-content {
    padding: 20px 0;
}

.cont-info {
    display: block;
    margin-bottom: 10px;
}

.cont-info b {
    width: 70px;
    display: inline-block;
}

.cont-info input,
.cont-info textarea {
    max-width: 70%;
    width: 100%;
    box-shadow: 3px 3px 0px 0px #1385BC;
    border: 1px solid #c3bfbf;
    padding: 3px 6px;
}

.phone input {
    max-width: 50%;
}

.inner-custom-content h3 {
    margin: 0;
}

/* BOX STYLING */
.content-box-container{
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    padding: 10px;
    min-height: 60px;
    border-radius: 6px;
    margin:20px 0;
}
.content-box-container .title{
    font-weight: bold;
    color: #1385BC !important;
    font-size: 16px;
}

/* box-body grey-bg */
.box-body.grey-bg{
    background-color: #f2f2f2;
    display: flex;
}
.box-body.grey-bg .col-lg-4.col-xs-4{
    display: flex;
}
.box-body.grey-bg .col-lg-4.col-xs-4 .content-box-container{
    flex: 1; 
}
.box-body.grey-bg center{
    font-weight: bold;
    background-color: #1385BC !important;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

/* custom-select-box */
.custom-select-box{
    position: absolute;
    right: 15px;
    min-width: 150px;
    top: 20px;
}
.custom-select-box label{
    font-weight: 600;
    font-size: 16px;
}
.custom-select-box select{
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 2px 10px;
    color: #fff;
    background-color: transparent;
    min-width: 40px;
    margin-left: 10px;
}
.custom-select-box select option{color: #000;}
.profile-main-content.tabcontent{
    background-color: #fff;
    position: relative;
    padding: 25px;
    min-height: 100vh;
    padding-top: 60px;
}
.profile-main-right{
    background-color: #f4f4f4;
    position: relative;
    padding: 25px;
    min-height: 100vh;
    margin-top: -61px;
    margin-bottom: -40px;
    padding-top: 60px;
}
.row.profile-main-left{
    position: relative;
    width: calc(100% - 70px);
    height: calc(90vh - 155px);
    left: 60px;
    padding-bottom: 80px;
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}.profile-main-left .chat.outgoing {
    text-align: right;
}
.profile-main-left .chat.outgoing .incomming-message {
    background-color: #f5efe8;
    color: #4d5aac;
    border-radius: 8px 8px 8px 0;
    font: 14px/18px Poppins Regular, sans-serif;
    padding: 10px 20px;
    /* max-width: 70%; */
    display: inline-block;
    margin: -5px 10px 0 0;
    width: auto;
}
.bottom-sec {
    border: 1px solid #979797;
    border-radius: 32px;
    height: 69px;
    position: relative;
    bottom: 0;
    background-color: #fff;
    width: calc(100% - 70px);
    margin: 0 auto;
    /* left: 43px; */
}
.bottom-sec .left {
    float: left;
    line-height: 68px;
    width: 69px;
    text-align: center;
}
.bottom-sec .mid {
    float: left;
    width: calc(100% - 140px);
    line-height: 18px;
}
.bottom-sec .mid textarea {
    width: 100%;
    height: 67px;
    border: none;
    font-size: 12px;
    color: #000;
    resize: none;
}
.bottom-sec .right {
    float: right;
    line-height: 68px;
    width: 69px;
    text-align: center;
}
.profile-main-left .chat.outgoing a img {
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
}
.profile-main-left .chat.outgoing a .status {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #3F4DA6;
    border: 2px solid #fff;
    display: block;
    top: 19px;
    right: 0;
}
.profile-main-left .chat.outgoing a {
    float: right;
    position: relative;
}
.profile-main-right .list .left img {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.profile-main-right .list .right p {
    font: 14px/18px Poppins Regular, sans-serif;
    color: #707070;
}
 .profile-main-right .list .left {
    float: left;
    width: 70px;
}
.profile-main-right .list .right {
    float: left;
    width: calc(100% - 70px);
}
 .profile-main-right .list .right .heading-list {
    position: relative;
    padding-right: 50px;
    font: 13px/16px Poppins Regular, sans-serif;
    color: #3F4DA6;
    margin: 5px 0;
}
 .profile-main-left .chat a img {
    width: 26px;
    height: 26px;
    display: block;
    border-radius: 50%;
}
 .profile-main-left .chat .incomming-message {
    background-color: #e5e6ee;
    color: #4d5aac;
    border-radius: 8px 8px 0 8px;
    font: 14px/18px Poppins Regular, sans-serif;
    padding: 10px 20px;
    /* max-width: 70%; */
    display: inline-block;
    margin: -5px 0 0 10px;
    width: auto;
}

.chat.incoming { display: flex; margin-bottom: 15px; }
.chat.outgoing{ display: flex; justify-content: end; flex-direction: row-reverse; margin-bottom: 15px;}
.chat.incoming .incoming-datetime{ padding-left: 10px;;}
.chat.outgoing .outgoing-datetime { padding-right: 10px;}