body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    color: #666666;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

a {
    color: #f4645f;
}

a,
a>* {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

a:focus,
a:hover {
    outline: none;
    text-decoration: none;
}

.navbar a,
.form-control {
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn,
.form-control,
.form-control:hover,
.form-control:focus,
.navbar-custom .dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

button:focus {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0;
}


/*h1, h2, h3, h4, h5, h6{font-family:'Roboto Slab', serif;font-weight:400;margin:0;}*/

h1 {
    font-size: 35px;
    line-height: 50px;
}

h2 {
    font-size: 25px;
    color: #202020;
}

h3 {
    font-size: 20px;
    line-height: 25px
}

h4 {
    font-size: 18px;
    line-height: 20px
}

h5 {}

h6 {}

p {
    margin: 0 0 10px 0;
}

p img {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
    padding: 14px 45px;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 17px 35px;
}

.btn-primary {
    background-color: #a084d2;
    border-color: #a084d2;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #825dc3;
    border-color: #825dc3;
}

.form-control {
    height: 40px;
    font-size: 18px;
    line-height: 15px;
    font-weight: 300;
    color: #202020;
    border-radius: 0;
}

.form-control-feedback {
    top: 5px;
}

.form-control:focus {
    border-color: #f4645f;
}

.section-padding {
    padding: 50px 0 50px;
}

.section-title {
    font-size: 35px;
    line-height: 30px;
    color: #f4645f;
    margin-bottom: 25px;
    text-transform: capitalize;
    padding-top: 30px;
}

.sub-title {
    margin: 0;
    line-height: 25px;
}

.row-content {
    margin-top: 80px;
}

.margin-top-50 {
    margin-top: 50px;
}

.no-padding {
    padding: 0;
}

.navbar-brand {
    height: auto !important;
    padding-right: 0px !important;
    padding-left: 10px !important;
}

@media(min-width:767px) {
    .navbar-default .navbar-nav>li>a {
        padding: 40px 18px;
        -webkit-transition: padding .5s ease-in-out;
        -moz-transition: padding .5s ease-in-out;
        -ms-transition: padding .5s ease-in-out;
        -o-transition: padding .5s ease-in-out;
        transition: padding .5s ease-in-out;
    }
    .navbar-default.sticky .navbar-nav>li>a {
        padding: 20px;
    }
    .navbar-default .navbar-brand {
        line-height: 40px;
        padding: 20px 15px;
    }
    .navbar-default.sticky .navbar-brand {
        line-height: 20px;
        padding: 5px 15px;
    }
    .navbar-default.sticky .navbar-brand img {
        max-width: 200px;
    }
}

.navbar-nav {
    margin: 0 -15px;
}

.navbar {
    margin: 0;
    background-color: #000;
    border: 0;
    border-radius: 0;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    background-color: transparent;
    border-top: solid 5px transparent;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    border-top: solid 5px #f4645f;
}

.navbar-toggle {
    padding: 7px;
    margin-top: 12px;
    border-radius: 3px;
}

.navbar-toggle .icon-bar {
    width: 15px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 2px;
}

.navbar-default .navbar-toggle {
    border-color: #f4645f;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #f4645f;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f4645f;
}

.navbar-default .navbar-toggle:focus .icon-bar,
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #ffffff;
}

.search-icon {
    position: relative;
    top: 35px;
    left: 20px;
}

.search-icon:hover {
    cursor: pointer;
}

.sticky .search-icon {
    top: 15px;
}

.search-icon:after {
    content: "\f002";
    position: absolute;
    top: 0;
    right: 0;
    font-family: fontawesome;
}

.search-icon.active:after {
    content: "\f00d";
    position: absolute;
    top: 0;
    right: 0;
    font-family: fontawesome;
    color: #f4645f;
}

#search-box {
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    color: #555;
    font-family: sans-serif;
    padding: 0 15px;
    outline: none;
    font-size: 20pt;
    text-align: center;
    background-color: #ccc;
    position: absolute;
    right: 0;
    display: none;
    width: 100%;
    top: 100px;
    z-index: 1;
    line-height: 70px;
    height: 70px;
    color: #fff;
}

.sticky #search-box {
    top: 60px;
}

#tt-home-carousel {
    overflow: hidden;
    position: relative;
}

#tt-home-carousel img {
    width: 100%;
    background-size: cover;
}

.carousel-fade .carousel-inner .item {
    max-height: 700px;
    opacity: .8;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-inner .active {
    opacity: 1
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-inner .item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}

.carousel-fade .carousel-control {
    z-index: 20
}

#tt-home-carousel .carousel-caption {
    position: absolute;
    top: 50%;
    margin-top: -165px;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 15;
    color: #fff;
    bottom: inherit;
}

#tt-home-carousel .carousel-caption h1 {
    color: #FFFFFF;
    font-size: 75px;
    line-height: 80px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -5px;
    margin-bottom: 40px;
    font-family: 'Open Sans', sans-serif;
}

#tt-home-carousel .carousel-caption h1 span {
    font-weight: 900;
}

#tt-home-carousel .carousel-caption p {
    color: #FFFFFF;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

#tt-home-carousel .carousel-caption .btn {
    font-size: 20px;
    line-height: 18px;
    font-weight: 300;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 30px;
    padding: 20px 58px;
}

#tt-home-carousel .carousel-caption .btn:hover {
    background: #fff;
    border-color: transparent;
    color: #f4645f;
}

#tt-home-carousel>.item-prev {
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -25px;
    z-index: 100;
    opacity: 0;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

#tt-home-carousel>.item-next {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -25px;
    z-index: 100;
    opacity: 0;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

#tt-home-carousel:hover .item-prev,
#tt-home-carousel:hover .item-next {
    opacity: 1;
}

#tt-home-carousel>.item-prev i,
#tt-home-carousel>.item-next i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    border-radius: 50%;
    color: #000000;
    text-align: center;
    background-color: #DDDDDD;
}

#tt-home-carousel>.item-prev i:hover,
#tt-home-carousel>.item-next i:hover {
    background-color: #f4645f;
}

.delay-1 {
    -webkit-animation-delay: 300ms;
    -moz-animation-delay: 300ms;
    animation-delay: 300ms;
}

.delay-2 {
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    animation-delay: 600ms;
}

.delay-3 {
    -webkit-animation-delay: 1200ms;
    -moz-animation-delay: 1200ms;
    animation-delay: 1200ms;
}

.delay-4 {
    -webkit-animation-delay: 1500ms;
    -moz-animation-delay: 1500ms;
    animation-delay: 1500ms;
}

.creative-section {
    padding: 0 0 50px;
}

.service-tab {
    position: relative;
}

.service-tab .nav-tabs {
    border-bottom: 0;
}

.service-tab li {
    position: relative;
    text-align: center;
    border-right: 1px solid #b9b9b9;
    padding: 0;
}

.service-tab li>a {
    padding: 40px;
    background-color: #f5f5f5;
    color: #000000;
    border: 0;
    width: 100%;
}

.service-tab .nav-tabs>li.active>a,
.service-tab .nav-tabs>li.active>a:focus,
.service-tab .nav-tabs>li.active>a:hover {
    border: 0;
    background-color: #ffffff;
}

.nav-tabs.nav-justified>li>a {
    border: 0;
    border-radius: 0;
}

.nav-tabs.nav-justified>.active>a,
.nav-tabs.nav-justified>.active>a:focus,
.nav-tabs.nav-justified>.active>a:hover {
    border: 0;
}

.service-tab li:first-child {
    border-left: 1px solid #b9b9b9;
}

.service-tab li i:before {
    font-size: 30px;
    color: #202020;
}

.service-tab li.active i:before,
.service-tab li:hover i:before {
    color: #f4645f;
}

.service-tab li span {
    display: block;
    font-size: 18px;
    color: #202020;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.service-tab li.active:after,
.service-tab li:hover:after {
    content: "";
    border-bottom: 10px solid #f4645f;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.service-tab .tab-content {
    margin-top: 50px;
}

.creative-section h2 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 45px;
    position: relative;
}

.creative-section h2::after {
    content: "";
    background-color: #f4645f;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -16px;
}

.creative-section .btn {
    margin-top: 42px;
}

.mac-screenshot {
    padding-top: 20px;
}

.mac-screenshot img {
    width: inherit;
}

.recent-project-section {
    background-color: #fafafa;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.project-container {
    margin-top: 50px;
    position: relative;
}

.recent-project {
    position: relative;
    overflow: hidden;
    padding: 5px;
}

.recent-project img {
    width: 100%;
}

.project-info {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -32px;
    color: #fff;
    width: 100%;
    text-align: center;
}

.project-info h3 {
    font-size: 18px;
    line-height: 18px;
}

ul.project-meta {
    margin-top: 15px;
}

ul.project-meta li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #fff;
}

ul.project-meta li:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: 0;
}

ul.project-meta li a {
    display: block;
    color: #fff;
}

ul.project-meta li a:hover {
    color: #f4645f;
}

.full-project {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px 30px;
    line-height: 18px;
    text-transform: capitalize;
    background: #f4645f;
}

.full-project:hover {
    background: #e74430;
}

.full-project a {
    color: #fff;
}

.full-project a i {
    float: right;
    line-height: 20px;
}

.recent-project::before {
    content: "";
    background-color: rgba(44, 62, 80, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.recent-project:hover::before {
    opacity: 1;
}

.project-info h3,
ul.project-meta,
.full-project {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}

.project-info h3,
ul.project-meta {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.full-project {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.recent-project:hover .project-info h3,
.recent-project:hover ul.project-meta,
.recent-project:hover .full-project {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.project-navigation .btn-prev {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -40px;
    width: 20px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    z-index: 997;
}

.project-navigation .btn-next {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -40px;
    width: 20px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    line-height: 80px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    z-index: 997;
}

.project-navigation a:hover {
    width: 30px;
}

.project-container:hover .project-navigation .btn-prev,
.project-container:hover .project-navigation .btn-next {
    opacity: 1;
}

@media (min-width:992px) {
    .feature-section {
        background: url(../images/feature-bg.png) no-repeat scroll 100% 80px;
        position: relative;
    }
}

.feature-section .feature-heading {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
    position: relative;
}

.feature-section .feature-heading::after {
    content: "";
    background-color: #f4645f;
    width: 100px;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -16px;
}

.feature-section .media {
    margin-top: 6px;
}

.feature-section .media:first-child {
    margin-top: 0;
}

.feature-section .media .media-left i::before {
    display: block;
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    height: 30px;
    color: #f4645f;
    border: 1px solid #f4645f;
    border-radius: 4px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.feature-section .media .media-left i:hover::before {
    background-color: #f4645f;
    color: #fff;
    border: 1px solid transparent;
}

.feature-section .media-left,
.feature-section .media>.pull-left {
    margin-right: 15px;
    width: 30px;
    float: left;
}

.feature-section .media-heading {
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    color: #202020;
}

.feature-section .media-heading a {
    color: #202020;
}

.feature-section .media-heading a:hover {
    color: #f4645f;
}

.feature-section .media-body p {
    color: #a7a7a7;
    line-height: 25px;
}

.cta-one-section {
    background-color: #efefef;
}

.cta-one-section h2 {
    font-size: 30px;
    color: #202020;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cta-one-section h2 span {
    color: #f4645f;
}

.cta-one-section .btn {
    margin-top: 30px;
}

.about-section .row-content h2 {
    font-weight: 700;
}

.about-info h2 {
    margin-bottom: 36px;
}

.creative-skills h2,
.faq-section h2 {
    margin-bottom: 30px;
}

.video-wrap iframe {
    border: 0;
    width: 100%;
    height: 310px;
}

.skill-progress {
    width: 100%;
    float: left;
}

.skill-title {
    font-size: 16px;
    display: block;
}

.progress {
    padding: 6px 8px;
    border-radius: 10px;
    box-shadow: none;
}

.progress-bar {
    background-color: #a084d2;
    box-shadow: none;
    border-radius: 10px;
}

.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 2s ease-in-out;
    -moz-transition: width 2s ease-in-out;
    -o-transition: width 2s ease-in-out;
    transition: width 2s ease-in-out;
}

.panel {
    box-shadow: none;
    border: 0;
    border-radius: 0;
}

.panel-default>.panel-heading {}

.panel-default>.panel-heading h3 {
    font-family: 'Open Sans', sans-serif;
}

.panel .panel-heading-link {
    position: relative;
    padding: 0;
}

.panel-title a.collapsed {
    display: block;
    color: #fff;
    background-color: #a084d2;
    border-color: #a084d2;
    padding: 17px 15px;
    border-radius: 4px;
}

.panel-title a {
    display: block;
    color: #fff;
    border-color: #f4645f;
    padding: 17px 15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f4645f;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border: 1px solid #EEEEEE;
}

.panel .panel-heading-link a:after {
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 24px;
    width: 50px;
    height: 60px;
    line-height: 58px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

.panel .panel-heading-link a.collapsed:after {
    content: "\f105";
}

.mocup-bg img {
    margin: 60px auto 0;
    display: block;
}

.counter-section {
    background: url(../images/counter-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    font-family: 'Roboto Slab', serif;
}

.css-overlay {
    background-color: rgba(26, 1, 1, 0.6);
}

.counter-section strong {
    display: block;
    font-size: 60px;
    line-height: 48px;
    color: #fff;
}

span.count-description {
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-transform: capitalize;
    padding-top: 10px;
}

.counter-wrap {
    padding: 100px 0;
}

.counter-section .selected {
    background-color: rgba(255, 0, 0, 0.5);
}

.team-thumb {
    position: relative;
    overflow: hidden;
}

.team-thumb img {
    width: 100%;
}

.team-thumb::before {
    content: "";
    background-color: rgba(44, 62, 80, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.team-thumb:hover::before {
    opacity: 1;
}

.member-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #f4645f;
    color: #fff;
    padding: 16px 0;
}

.member-info {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.2s ease-out .2s;
    -moz-transition: all 0.2s ease-out .2s;
    -o-transition: all 0.2s ease-out .2s;
    transition: all 0.2s ease-out .2s;
}

.team-thumb:hover .member-info {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.member-info h3 {
    font-size: 22px;
    line-height: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.member-info .title {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}

.member-info .social-link {
    margin-top: 25px;
}

.member-info .social-link li a:hover {
    background: #D51428;
    color: #fff;
}

.video-section {
    top: 0%;
    left: 0%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.overlay {
    min-height: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

video,
object {
    min-width: 100%;
    min-height: 100%;
}

.video-button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.video-button a i {
    display: inline-block;
    font-size: 44px;
    line-height: 87px;
    text-align: center;
    font-style: normal;
    color: #fff;
    background: none;
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.video-button .pause i {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.video-button .play i:before {
    left: 1px;
    position: relative;
    top: 1px;
}

.video-section:hover .video-button .pause i {
    opacity: 1;
}

.video-button a i:before {
    content: "\f04b";
    z-index: 10;
    font-family: FontAwesome;
}

.video-button a.pause i:before {
    content: "\f04c";
}

.cta-two-section {
    padding: 50px 0;
    background-color: #a084d2;
    color: #fff;
}

.cta-two-section h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    line-height: 27px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 5px;
}

.cta-two-section p {
    font-size: 28px;
    line-height: 27px;
    font-weight: 400;
    margin: 0;
}

.cta-two-section .btn {
    background-color: transparent;
    border-color: #fff;
    font-size: 16px;
}

.cta-two-section .btn:hover {
    background-color: #fff;
    border-color: #fff;
    color: #f4645f;
}

.services-section {}

.sbox-gutter {
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.sbox-gutter:nth-child(3),
.sbox-gutter:nth-child(6),
.sbox-gutter:nth-child(9) {
    border-right: 0;
}

.sbox-gutter:nth-child(7),
.sbox-gutter:nth-child(8),
.sbox-gutter:nth-child(9) {
    border-bottom: 0;
}

.sbox-gutter:nth-child(4),
.sbox-gutter:nth-child(5),
.sbox-gutter:nth-child(6) {}

.service-box:hover {}

.service-box,
.service-box i::before,
.service-box h3,
.service-box p {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.service-box:hover i::before,
.service-box:hover h3,
.service-box:hover p {}

.service-box {
    padding: 30px 15px;
    background-color: #f4f4f4;
    margin-bottom: 30px;
    cursor: pointer;
}

.service-box i {
    height: 50px;
}

.effect2 {
    position: relative;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.effect2:hover:before,
.effect2:hover:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    box-shadow: 0 15px 10px #777;
    transform: rotate(-3deg);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.effect2:hover:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.service-box i::before {
    font-size: 40px;
    margin-bottom: 20px;
    color: #a084d2;
}

.service-box h3 {
    color: #a084d2;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.service-box p {
    line-height: 22px;
}

.responsive-preview {}

.responsive-preview h2 {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.responsive-preview h2 span {
    display: block;
    font-size: 45px;
    color: #f4645f;
}

.responsive-preview p {
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 35px;
}

.responsive-preview img {
    width: initial;
}

.process-section {
    background: url(../images/process-bg.jpg) no-repeat #dedede;
    -webkit-background-size: cover;
    background-size: cover;
}

.process-box {
    background-color: #f4645f;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
}

.process-box i::before {
    font-size: 30px;
}

.process-box h3 {
    font-size: 16px;
    line-height: 45px;
    color: #fff;
    margin: 0;
}

.portfolio-container {
    padding-top: 55px;
}

.portfolio-container ul#filter {
    margin-bottom: 50px;
}

.portfolio-container ul#filter li {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    padding: 7px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.portfolio-container ul#filter li.active {
    background-color: #f4645f;
    color: #fff;
}

.portfolio-container ul#grid {
    overflow: hidden;
}

.portfolio-container ul#grid li img {}

.portfolio-container ul#grid li {
    float: left;
    display: block;
    width: 20%;
    height: auto;
    height: 200px;
    overflow: hidden;
    border: solid 5px #fff;
}

.portfolio-item {
    min-height: 200px;
}

.portfolio {
    position: relative;
    overflow: hidden;
}

.portfolio::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(244, 100, 95, 1);
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.portfolio:hover::before {
    opacity: 1;
}

.portfolio-info {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -50px;
    color: #fff;
    width: 100%;
}

.project-title,
.links {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px);
}

.portfolio:hover .project-title,
.portfolio:hover .links {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}

.project-title {
    -webkit-transition: all 0.4s ease-out .2s;
    -moz-transition: all 0.4s ease-out .2s;
    -o-transition: all 0.4s ease-out .2s;
    transition: all 0.4s ease-out .2s;
    margin-bottom: 25px;
}

.links {
    -webkit-transition: all 0.3s ease-out 0.4s;
    -moz-transition: all 0.3s ease-out 0.4s;
    -o-transition: all 0.3s ease-out 0.4s;
    transition: all 0.3s ease-out 0.4s;
}

.portfolio-info .btn {
    background-color: transparent;
    ;
    border-color: #fff;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    font-size: 25px;
    padding: 0px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.portfolio-info .btn:hover {
    background-color: #fff;
    ;
    border-color: #fff;
    color: #f4645f;
}

.portfolio-container .btn.view-more {
    margin-top: 40px;
}

.testimonial-section {
    background-color: #fafafa;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

#quote-carousel {
    padding: 0 10px 30px 10px;
}

#quote-carousel .carousel-control {
    background: none;
    top: auto;
    bottom: 40px;
    z-index: 100;
    text-shadow: none;
}

#quote-carousel .carousel-control i {
    color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#quote-carousel .carousel-control:hover i,
#quote-carousel .carousel-control:focus i {
    color: #f4645f;
    border-color: #f4645f;
}

#quote-carousel .carousel-control.left {
    left: 30%;
}

#quote-carousel .carousel-control.right {
    right: 30%;
}

#quote-carousel .carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}

#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    margin: 5px;
    cursor: pointer;
    opacity: 0.4;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

#quote-carousel .carousel-indicators .active {
    background: #333333;
    width: 85px;
    height: 85px;
    opacity: 1;
    overflow: hidden;
}

#quote-carousel .carousel-inner {
    min-height: 300px;
}

#quote-carousel .item blockquote {
    border-left: none;
    margin: 0;
}

.testimonial-content {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 30px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 6px;
}

.testimonial-content .author {
    font-weight: 700;
}

.testimonial-content .author a:hover {
    color: #ffffff;
}

.bwWrapper {
    position: relative;
    display: block;
}

.case-study-section {
    color: #fff;
}

.case-study-left {
    background-color: #f4645f;
    padding: 60px 40px 60px 110px;
}

.case-study-right {
    background-color: #2c3e50;
    padding: 60px 110px 60px 40px;
}

.case-study-section h1 {
    font-weight: 700;
    margin-bottom: 15px;
}

.case-study-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.case-study-section .btn {
    font-weight: 300;
    text-transform: uppercase;
    background-color: transparent;
    border-color: #fff;
}

.case-study-section .btn:hover {
    background-color: #fff;
    border-color: #fff;
}

.case-study-left .btn:hover {
    color: #f4645f;
}

.case-study-right .btn:hover {
    color: #2c3e50;
}

#myMap {
    height: 250px;
}

#mapcontent p {
    margin: 0;
    font-size: 16px;
}

.contact-section {
    padding: 50px 0 100px;
    background-color: #f1f1f1;
}

.contact-section .btn {
    font-weight: 600;
    min-width: 350px;
    border-radius: 30px;
    background-color: #f4645f;
    border-color: #f4645f;
}

.contact-section .btn:hover {
    background-color: #e74430;
    border-color: #e74430;
}

.footer-section {
    padding: 50px 0;
    background-color: #202020;
    color: #fff;
    position: relative;
}

.backToTop i {
    font-size: 70px;
    line-height: 85px;
    background: #f4645f;
    color: #fff;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    border: 5px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.backToTop i:hover {
    background: #e74430;
}

.footer-section p {
    font-size: 16px;
    line-height: 30px;
    color: #b5b5b5;
}

.footer-logo p {
    margin-bottom: 26px;
}

.footer-logo p span {
    color: #f4645f;
    font-weight: 600;
}

.footer-logo img {
    width: initial;
    margin-bottom: 30px;
}

.copyright {
    margin-top: 26px;
}

.copyright p {
    margin: 0;
}

.social-icon ul li a i {
    font-size: 24px;
    line-height: 50px;
    color: #fff;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.social-icon ul li a i:hover {
    color: #f4645f;
    border: 1px solid #f4645f;
}

#preloader {
    background: #FFF;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

#status,
.status-mes {
    background-image: url(../images/preloder.gif);
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
}

.status-mes {
    background: none;
    left: 0;
    margin: 0;
    text-align: center;
    top: 65%;
}

.single-project-section {}

.single-project-section .row-content {
    margin-top: 50px;
}

.project-overview {}

.project-overview h3,
.project-details-wrapper {}

.project-details {
    margin-bottom: 15px;
}

.project-details a {
    color: #666666;
}

.project-details a:hover {
    color: #f4645f;
}

.sbox-gutter {
    cursor: pointer;
}

.service_head {
    font-size: 26px;
    text-align: center;
}

.bg_blue_new {
    background-color: #a084d2 !important;
}

.clearfix {
    list-style: none;
}


/*.portfolio-section{background-color:#f1f1f1;}*/

.modal-header {
    background-color: #a084d2 !important;
    color: #fff;
}

.navbar-brand>img {
    max-width: 260px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    .navbar-brand img {
        width: 65% !important;
    }
}

.aaa {
    width: 100%;
    float: left;
}

.icon-arrow-cu {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 53px;
    right: 0px;
}

.icon-arrow-border-red {
    border: solid 2px #f4645f;
}

.icon-arrow-border-blue {
    border: solid 2px #a084d2;
}

.icon-arrow-cu i {
    font-size: 24px !important;
    line-height: 30px !important;
    padding-left: 2px;
}

.icon-arrow-cu i::before {
    font-size: 24px !important;
}

.icon-arrow-border-red i {
    color: #f4645f !important;
}

.icon-arrow-border-blue i {
    color: #a084d2 !important;
}

.load {
    display: none;
}

#home {
    padding-top: 70px;
    background-color: #000;
}

.modal-dialog {
    margin-top: 110px !important;
}

.span-tab {
    position: relative;
}

.span-tab:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #3AA3D7;
    font-size: 0;
    line-height: 0;
    left: 50%;
    margin-left: -7px;
}